body {
    background: linear-gradient(180deg, #52ACFF, #FFE32C) no-repeat; 
}

input {
    padding: 5px;
    border: 2px solid #777;
    font-size: 24px;
  }
  
  button {
    border: 2px solid #777;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .timer {
    margin: 20px auto;
    display: flex;
  }
  
  .field {
    margin: 0 10px;
    text-align: center;
    flex-direction: column;
    display: flex;
  }
  
  .value {
    font-size: 32px;
  }
  
  .label {
    font-size: 18px;
  }  